.btn {
  padding: 12px 48px;
  border-radius: 8px;
  background-color: var(--color-btnBcg);
  color: var(--color-btn);
  border: none;
  font-weight: 600;
  font-size: var(--font-sizeBody2);
  cursor: pointer;
  margin: 10px;
}
