.btn {
  padding: 12px 48px;
  border-radius: 8px;
  background-color: var(--bg-btn);
  color: var(--color-white);
  border: none;
  font-weight: 600;
  font-size: var(--font-sizeBody2);
  cursor: pointer;
  margin: 10px;
}

.contact-me {
  transition: 0.3s;
}

.contact-me:hover {
  background-color: var(--bg-btn-hover);
  transform: scale(1.25);
}

.contact-me:active {
  background-color: var(--bg-btn-active);
}
