.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-nav-light);
  height: 8vh;
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-logout {
  padding: 0;
  background-color: var(--color-navBcg);
  color: var(--color-black700);
  border: none;
  font-weight: 400;
  font-size: var(--font-sizeBody2);
  cursor: pointer;
  margin: 24px;
}

.text-logo {
  text-decoration: none;
  font-size: 24.75px;
  font-weight: 700;
  color: var(--color-logo);
  padding: 12px;
  font-family: var(--font-familyLogo);
}

.text-link {
  text-decoration: none;
  font-size: var(--font-sizeBody2);
  font-weight: 400;
  color: var(--color-black700);
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .text-link {
    padding: 0;
  }
}
