.panel-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40vw;
  height: 100%;
  padding: 20px;
  background-color: green;
}

.panel-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
