:root {
  --primary-textColor: rgb(0, 0, 0);
  --nav-textColor: rgb(0, 45, 95);
  --button-textColor: rgb(255, 255, 255);
  --background-color: rgba(1, 118, 255, 1);
  --nav-bcgColor: rgba(1, 149, 255, 0.7);
  --font-sizeH1: 48px;
  --font-sizeH2: 32px;
  --font-sizeH3: 24px;
  --font-sizeP: 18px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
